footer {
  margin-top: auto;
}

.gallery__text {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.gallery__text p {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  padding: 20px 50px;
}

.about__inner {
  margin-bottom: 50px;
}

.general__title .margin {
  padding-top: 300px;
}

.gallery__container {
  width: 100%;
  max-width: 1182px;
  margin: 0 auto;
}

.gallery__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.galleryIn__item {
  width: 550px;
  max-width: 50%;
  margin-bottom: 90px;
  border-radius: 10px;
  transition: .1s linear;
  cursor: pointer;
}

.galleryIn__item:hover {
  transform: scale(1.03);
  transition: .1s linear;
}

.gallery__item a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  font-weight: 600;
}

.gallery__item p {
  margin-top: 10px;
}

.back__link__container {
  margin-top: 30px;
  padding-left: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow__left {
  width: 30px;
}

.back__link {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  margin-left: 10px;
}

.back__link:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {

  .galleryIn__items {
    max-width: 600px;
    margin: 20px auto 10px auto;
  }

  .galleryIn__item {
    margin-bottom: 20px;
    height: 400px;
  margin-bottom: 10px;

  }

  .galleryIn__item img {
    max-width: 90%;
    display: block;
    margin: 0 auto;

  }
    

    .galleryIn__items {
      justify-content: center;
    }
}

@media (max-width: 768px) {

  .galleryIn__items {
    max-width: 600px;
    margin: 20px auto 10px auto;
  }

  .galleryIn__item {
    margin-bottom: 20px;
    height: 250px;
  margin-bottom: 10px;

  }

  .galleryIn__item img {
    max-width: 90%;
    display: block;
    margin: 0 auto;

  }
    

    .galleryIn__items {
      justify-content: center;
    }
}



@media (max-width: 430px) {
  .galleryIn__items {
    max-width: 600px;
    margin: 20px auto 10px auto;
  }

  .galleryIn__item {
    margin-bottom: 20px;
    height: 150px;
  margin-bottom: 10px;

  }

  .galleryIn__item img {
    max-width: 90%;
    display: block;
    margin: 0 auto;

  }
}